
.login-main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.Login_container{
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    box-shadow: -4px 4px 4px rgb(208, 206, 206);
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 420px;
    height: 100px;

}
.text-muted p{
    color: #379777;
    font-size: 0.8rem;
}
.form_input{
    font-size: 0.85rem;
    width: 400px;
    border: none;
    box-shadow: 2px 2px 2px grey;
    color: rgb(239, 230, 230)
} form h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1rem;
    font-weight: 100;
    color: #379777;
    font-style: normal;
    text-align: center;
}
.login-button{
    width: 400px;
    height: 50px;
    background-color: #F4CE14;
    color: #fff;
}
.login-button:hover{
transition: 1s ease-out;
    background-color: #fff;
    color: #379777;
    border: 2px solid #F4CE14;
}
span h4{
    margin-right: 30px;
    margin-top: 20px;
    text-align: end;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
     font-size: 0.85rem;
    font-style: normal;
}
span a{
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.title{
    font-size: 1rem;
    color: #379777;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.signup_container{
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    box-shadow: -4px 5px 4px rgb(208, 206, 206);
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
@media (max-width:600px) {
    .form_input {
        border: none;
        box-shadow: 2px 2px 2px grey;
        color: #789;
        width: 350px;
    }
    .Login_container{
        margin: 20px 0px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        box-shadow: -4px 5px 4px rgb(208, 206, 206);
        width: 375px;     
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mb-3{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        width: 350px;
        height: 100px;
    
    }
    
    .login-button{
        width: 350px;
        height: 50px;
        background-color: #F4CE14;
        color: #fff;
    }
    .login-button:hover{
        background-color: #fff;
        color: #379777;
        border: 2px solid #F4CE14;
    }
    .signup_container{
        margin: 20px 0px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        box-shadow: -4px 5px 4px rgb(208, 206, 206);
        width: 375px;     
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}